<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Tipos de anotación para activos plaqueados</title>
        <meta charset="UTF-8"/>

        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

        <!-- jquery-confirm -->
        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

        <script>
            function confirmarEliminar(element) {
                $.confirm({
                    title: "Eliminar",
                    content: "Está seguro de eliminar: " + "<br><br>" +
                            "Id: " + element.getAttribute('data-id') + "<br>" +
                            "Descripción: " + element.getAttribute('data-descripcion'),
                    buttons: {
                        eliminar: {
                            text: "Eliminar",
                            btnClass: "btn-danger",
                            action: function () {
                                location.replace("/tipoanotacion/eliminar/" + element.getAttribute('data-id'));
                            }
                        },
                        cancelar: {
                            text: "Cancelar"
                        }
                    }
                });
            }
            ;
        </script>
    </head>
    <body>
        <header></header>

        <section>
            <form th:action="@{/tipoanotacion/guardar}" th:object="${tipoanotacionobjeto}"
                  method="POST" class="was-validated">

                <section>
                    <div id="actions" class="py-4 mb-4 mt-4 bg-light">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 text-md-start text-sm-start">
                                    <a th:href="@{/tipoanotacion}" class="btn btn-ligth btn-block">
                                        <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                                    </a>
                                </div>
                                <div class="col-md-4 text-md-center text-sm-start">
                                    <button type="submit" class="btn btn-success btn-block">
                                        <i class="fas fa-check"></i> [[#{accion.guardar}]]
                                    </button>
                                </div>
                                <div class="col-md-4 text-md-start text-sm-start" th:if="${habilitareliminar == true}" >
                                    <a th:data-id="${tipoanotacionobjeto.idTipoAnotacion}"
                                       th:data-descripcion="${tipoanotacionobjeto.detalleTipoAnotacion}"
                                       class="btn btn-danger"
                                       onclick="confirmarEliminar(this)" > <!-- sec:authorize="hasRole('ROLE_ADMIN')" -->
                                        <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header mt-4">
                                        <h4>[[#{tipoAnotacion.editar}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group mt-4 mb-4">
                                            <label class="mb-2" for="idTipoAnotacion">[[#{generico.id}]]</label>
                                            <input type="hidden" name="idTipoAnotacion" th:field="*{idTipoAnotacion}" />
                                            <input type="number" class="form-control" name="idTipoAnotacionVisible"
                                                   th:field="*{idTipoAnotacion}" disabled="disabled"/>
                                        </div>
                                        <div class="form-group mt-4 mb-4">
                                            <label class="mb-2" for="detalleTipoAnotacion">[[#{generico.detalle}]]</label>
                                            <input type="text" class="form-control" name="detalleTipoAnotacion" 
                                                   required="true" th:field="*{detalleTipoAnotacion}"/>
                                        </div>                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>


        <footer></footer>        
    </body>
</html>