<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      class="h-100">
    <head>
        <title>Página no encontrada error 404</title>
        <meta charset="UTF-8" />

        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>

    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <header th:replace="layout/plantilla :: header"></header>
            <div class="py-5">
                <div class="text-center">
                    <img src="/images/error-404.png" class="img-fluid" alt="Error 404" 
                         style="width: 350px; "/>
                </div>
                <div class="text-center py-2">
                    <a th:href="@{/home}" >[[#{accion.ir-home}]]</a>
                </div>

            </div>
        </main>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
